/* PROJECT STYLES */

/* GOOGLE FONTS */
/*
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* ROOT */
/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

:root {
    --lt-blue: #8ECAE6;
    --md-blue: #219EBC;
    --dk-blue: #023047;
    --my-yellow: #FFB703;
    --my-orange: #FB8500;
}

/* BASE STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    width: 100%;
    background-color: var(--my-orange);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    color: var(--my-yellow);
    font-family: 'PT Serif', serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--md-blue);
}

a:hover {
    color: var(--my-yellow);
}

button {
    border: 0;
}

/* PAGE STYLES */

.site-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--dk-blue);
    color: var(--lt-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 .5rem .5rem;
}

/* NAV STYLES */

.site-nav {
    width: 100%;
    flex: 0;
    padding: .25rem;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: .75rem
}

.nav-text {
    text-align: right;
    font-size: .75rem;
    font-weight: bold;
}

.nav-item {
    text-align: center;
}

/* HEADER STYLES */

.site-head {
    flex: 0;
    width: 90%;
    margin: 1.5rem;
    padding: 1rem;
    border: var(--my-yellow) 2px solid;
    border-radius: 1rem;
}

.site-head h1 {
    text-align: center;
}

.site-head p {
    text-align: left;
    font-size: 1.25rem;
    margin-top: .5rem;
}

/* MAIN CONTENT AREA STYLES */

.site-main {
    width: 100%;
    flex: 1;
    text-align: center;
}

.button-area {
    width: 100%;
    min-height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-area button {
    font-size: 1.5rem;
    background-color: var(--my-yellow);
    padding: .5rem;
    box-shadow: var(--dk-blue) 2px 2px;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;

}

.game-area {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* INFO (SCORE AND RESULT) STYLES */

.info-panel-container {
    flex: 0;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border: var(--my-yellow) 2px solid;
    border-radius: 1rem;
}

.info-panel-title {
    text-align: center;
    margin-bottom: .5rem;
}

.info-panel-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: start; */
    gap: 1rem;
    padding: 1rem;
    background-color: var(--md-blue);
    border-radius: .5rem;
}

/* SCORE STYLES */

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    min-width: 40%;
}

.player-data {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-img {
    min-width: 5rem;
    font-size: 3rem;
    background-color: var(--dk-blue);
    color: var(--my-yellow);
    padding: .5rem;
    border: var(--dk-blue) 2px solid;
    border-radius: .5rem 0 0 .5rem;
}

.player-score {
    min-width: 5rem;
    font-size: 3rem;
    padding: .5rem;
    border: var(--dk-blue) 2px solid;
    text-align: center;
    border-radius: 0 .5rem .5rem 0;
}

/* RESULTS STYLES */

.results-container {
    display: flex;
    flex-direction: column;
    border: var(--md-blue) 1px solid;
    border-radius: .5rem;
    min-width: 40%;
}

.player-message {
    flex:1;
    padding: .5rem;
    color: var(--dk-blue);
}

.round-message {
    flex:1;
    padding: .5rem;
    color: var(--dk-blue);
    font-style: italic;
    font-size: 1.25rem;
}

/* GAME STYLES */

.game-container {
    flex: 0;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border: var(--my-yellow) 2px solid;
    border-radius: 1rem;
}

.game-title {
    text-align: center;
    margin-bottom: .5rem;
}

.game-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--md-blue);
    border-radius: .5rem;
}

.choice {
    text-align: center;
    color: var(--my-yellow);
    text-shadow: var(--dk-blue) 1px 1px;
}

.choice-icon {    
    font-size: 3rem;
    padding: 1rem;
}

.choice-icon i {
    text-shadow: var(--dk-blue) 2px 2px;
}

.choice-label {
    font-size: 2rem;
    text-shadow: var(--dk-blue) 2px 2px;
}

.options button {
    font-size: 1.5rem;
    background-color: var(--my-yellow);
    padding: .5rem;
    box-shadow: var(--dk-blue) 2px 2px;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
}

/* FOOTER STYLES */

.site-footer {
    flex: 0;
    padding: 1rem;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.foot-up {
    font-size: 1rem;
}

.foot-nav {
    font-size: 1rem;
}
